main {
    height: 1000px;
}

nav img {
    width: 17em;
    height: 17em;
}

.buzzword-1 {
    background-color: #E6563B;
    width: 7.5em;
    height: 7.5em;
    border: .6em solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.buzzword-2 {
    background-color: #E89E30;
    width: 7.5em;
    height: 7.5em;
    border: .6em solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.buzzword-3 {
    background-color: #7DB06D;
    width: 7.5em;
    height: 7.5em;
    border: .6em solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.buzzword-4 {
    background-color: #50ACAA;
    width: 7.5em;
    height: 7.5em;
    border: .6em solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.circle-red {
    background-color: #E6563B;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-yellow {
    background-color: #E89E30;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-green {
    background-color: #7DB06D;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-blue {
    background-color: #50ACAA;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}